.MainFormStyle {
  border-bottom: 2px solid black;
}

.Main {
  position: absolute;
  left: 8%;
  width: 92%;
  height: auto;
  min-height: 1000px;
}

.MainBackground {
  background-color: #ffffff;
}

.introSetting-size {
  width: 50%;
}

.introSetting-shadow {
  box-shadow: 3px 3px 20px #ca043d;
}

.Maim-Home {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.MainIntro-size {
  width: 80%;
}

.MainIntro-shadow {
  box-shadow: 3px 3px 20px #ca043d;
}

.img_intro {
  margin: 1em;
}

.img_intro-shadow {
  box-shadow: 5px 4px 10px #ca043d;
}

.Panel {
  position: fixed;
  left: 0;
  width: 7.9%;
  height: 100%;
  text-align: center;
  font-size: 90%;
}

.PanelStyle {
  border-right: 1px solid black;
  background-color: #ffffff;
}

.Logo {
  padding-top: 10%;
  display: block;
}

.link {
  background-color: #ffffff;
  text-decoration: none;
}

.link-black {
  background-color: #ffffff;
  text-decoration: none;
}

.link:hover {
  background-color: #ca043d;
  color: #ffffff;
}

.clear {
  clear: left;
}

.Room-Block {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  margin-top: 5em;
}

.Room_Block {
  width: 300px;
  height: 300px;
  box-shadow: 5px 5px 30px black;
  position: relative;
  transform: translateY(-2px);
  border: 2px solid black;
}

.Room_Block:hover {
  box-shadow: 5px 5px 30px #ca043d;
  position: relative;
  transform: translateY(2px);
  border: 2px solid #ca043d;
}

.Icon {
  display: flex;
  justify-content: space-evenly;
}

.Room-Position {
  margin: 2em;
}

.Reservation_txt {
  display: flex;
  justify-content: space-between;
  margin: 0 1em 0 1em;
}

.Block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_intro-shadowBlack {
  box-shadow: 5px 4px 10px black;
}

.MainBackground-black {
  background-color: black;
}

.PanelStyle-black {
  border-right: 1px solid black;
  background-color: black;
}

.TextColor {
  color: #ffffff;
}

.link-black {
  background-color: black;
  text-decoration: none;
}